<h1>EncorSolar#locations</h1>

<%= link_to 'Arizona', encor_solar_arizona_path %>
<br>
<%= link_to 'California (North)', encor_solar_california_north_path %>
<br>
<%= link_to 'California (South)', encor_solar_california_south_path %>
<br>
<%= link_to 'Connecticut', encor_solar_connecticut_path %>
<br>
<%= link_to 'Florida', encor_solar_florida_path %>
<br>
<%= link_to 'Massachusetts', encor_solar_massachusetts_path %>
<br>
<%= link_to 'Nevada', encor_solar_nevada_path %>
<br>
<%= link_to 'New York (Long Island)', encor_solar_new_york_long_island_path %>
<br>
<%= link_to 'New York (NYC & The Boroughs', encor_solar_new_york_nyc_boroughs_path %>
<br>
<%= link_to 'Rhode Island', encor_solar_rhode_island_path %>
<br>
<%= link_to 'Texas (Austin Energy & Oncor)', encor_solar_texas_austin_energy_oncor_path %>
<br>
<%= link_to 'Texas (San Antonio & CPS)', encor_solar_texas_san_antonio_cps_path %>
<br>
<%= link_to 'Utah', encor_solar_utah_path %>
